@charset "UTF-8";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$space: 15px;
$accent: blue;
$accent: #CCFF00;
$border-radius: 3px;
$menu-h: 50px;
$menu-mobile-h: 42px;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';
@import '_reset';
@import '_typography';
@import '_mixins';
@import '_switch';
@import 'hamburger-settings';
@import 'hamburgers/hamburgers';

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

@mixin underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10%;
}
.underline {
  @include underline;
}

@mixin single-arrow {
  width: $menu-mobile-h;
  height: $menu-mobile-h;
  display: flex; align-items: center; justify-content: center;
  background-color: white;
  border: 1px solid black;
  border-radius: $border-radius;
  pointer-events: auto;
  cursor: pointer;
  img { line-height: 0; }
}

.color-white { color: white; }
.color-accent { color: $accent; }
.color-white-50 { color: rgba(white, 0.5); }
.bg-white { background-color: white; }
.no-u { text-decoration: none; }
.u-hover { text-decoration: none; &:hover { @include underline; } }
.pointer { cursor: pointer; }
.upper { text-transform: uppercase; }
.lower { text-transform: none; }

.space-1 { height: #{$space * 1}; }
.space-2 { height: #{$space * 2}; }
.space-3 { height: #{$space * 3}; }
.space-4 { height: #{$space * 4}; }
.space-6 { height: #{$space * 6}; }
.space-8 { height: #{$space * 8}; }

// -----------------------------------------------------------------------------
// General tags & classes
// -----------------------------------------------------------------------------

* {
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  // background-color: #ECECEC;
  width: 100vw;
  color: black;
  @include font-sans-m;
  &.media-open { overflow: hidden; }
}

main {}

hr {
  border-top: 1px solid rgba(white, 0.3);
}

a {
  color: $accent;
  text-decoration: none;
  &:hover {
    @include underline;
  }
}

ins {
  @include underline;
}

h1 a[target='_blank']::after {
  content: url("../images/arrow-blank.svg");
}

.styled-select {
  position: relative;
  select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    height: $menu-mobile-h;
    border: 1px solid black;
    padding: 0 $space;
    border-radius: $border-radius;
    color: $accent;
    min-width: 100%;
    background-color: white;
  }
  &::after {
    content: url("../images/arrow-d.svg");
    position: absolute;
    right: 5px;
    top: 5px;
    pointer-events: none;
  }
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

.anchor {
  position: relative;
  height: 0px; width: 10px;
  top: -60px;
  @include media-breakpoint-down(sm) { top: -120px; }
}

// .fade-opacity {
//   transition: opacity 400ms;
// }

.hide-in-place {
  opacity: 0; 
  pointer-events: none !important;
}

@keyframes blink {
  0%  { opacity: 0.5; }
  25% { opacity: 0.5; }
  50% { opacity: 0.3; }
  75% { opacity: 0.5; }
  100%{ opacity: 0.5; }
}

@keyframes highlight {
  0%  { background-color: transparent; }
  25% { background-color: transparent; }
  50% { background-color: $accent; }
  75% { background-color: transparent; }
  100%{ background-color: transparent; }
}

@keyframes walk {
  0%  { transform: translateX(5px); }
  50% { transform: translateX(calc(100vw - 5px)); }
  100%{ transform: translateX(5px); }
}

.highlight-once {
  animation-name: highlight;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.single-arrow {
  @include single-arrow;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  display: inline-flex;
  border: 0;
}

// -----------------------------------------------------------------------------
// STRUCTURE
// -----------------------------------------------------------------------------

.bbbg-wrap {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;
  .bbbg {
    position: absolute;
    top: 0; left: 10px; height: 100%;
    transition: transform 1500ms cubic-bezier(0.690, 0.005, 0.305, 1.000);
    transition: transform 1800ms;
    image-rendering: pixelated;
  }
}
.ascii {
  font-family: "Courier New", monospace;
  // white-space: nowrap;
  height: auto !important;
  background-color: $accent;
}

.line {
  z-index: 2000;
  position: fixed; left: 0px; top: 0; bottom: 0; width: 2px;
  background-color: $accent;
  pointer-events: none;
  transition: transform 1500ms;
  transform: translateX(10px);
  transform: translateX(50vw);
  transform: translateX(100vw);
  &.walk {
    animation-name: walk;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.screen {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  display: flex; align-items: center; justify-content: flex-start; flex-wrap: nowrap;
  .bubbles {
    display: flex; align-items: center; justify-content: flex-start;
    transition: transform 2500ms;
    transition: transform 1800ms;
    .bubble-wrapper {
      display: flex; align-items: center; justify-content: center;

      // v2
      &[data-level='1'] {
        @include media-breakpoint-down(sm) { 
          width: 150vw; 
          &.single-bubble { width: 100vw; }
        }
        @include media-breakpoint-up(md)   { width: 100vw; }
      }
      &[data-level='2'] {
        @include media-breakpoint-down(sm) { width: 150vw; }
        @include media-breakpoint-up(md)   { padding: 0 40px; }
      }

      // v1
      // &[data-level='1'] { width: 100vw; }
      // &[data-level='2'] {
      //   @include media-breakpoint-down(sm) { width: 100vw; }
      //   @include media-breakpoint-up(md)   { padding: 0 40px; }
      // }

      .bubble {

        scroll-behavior: smooth;
        pointer-events: auto;

        background-color: white;
        border: 1px solid black;
        border-radius: $border-radius;
        width: 720px;
        width: 640px;

        @include media-breakpoint-down(md) {
          width: 640px;
        }
        @include media-breakpoint-down(sm) {
          width: calc(100vw - #{$space * 2});
        }

        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        .submenu {
          position: sticky;
          top: 0; left: 0; width: 100%;
          background-color: white;
          padding: $space;
          margin-bottom: #{$space * 2};
          a[data-submenu-target] {
            cursor: pointer;
            &:hover {
              @include underline;
            }
          }
        }
        .text {
          // text-align: justify;
          padding-right: $space;
          padding-left: $space;
          &:first-child { padding-top: $space; }
          &:last-child { padding-bottom: $space; }
          p, h3 { margin-left: 60px; }
        }
        .bubble-title {
          margin-bottom: -10px;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  
  @include media-breakpoint-down(sm) {

    .bubbles {
      align-items: flex-start;
      
      .bubble-wrapper {
        align-items: flex-start;
        justify-content: center;
        max-height: 100vh;
        padding: 40vh 0;
        overflow: scroll;
        pointer-events: auto;

        .bubble {
          max-height: none;
          .text {
            p { margin-left: 30px; }
          }
        }
      }
    }
  }
}

.bubbles-group-separator {
  @include media-breakpoint-up(md) {
    width: 33vw;
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC
// -----------------------------------------------------------------------------

nav.menu-custom {
  z-index: 16;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: $menu-h;
  padding: 0 $space; 
  display: flex; align-items: center; justify-content: space-between;
  a {
    font-weight: 700;
    color: black;
    &.active, &:hover {
      @include underline;
      color: $accent;
    }
  }
}

nav#menu-desktop {
  z-index: 6;
  @include media-breakpoint-down(sm) { display: none; }
  position: fixed;
  top: 0; left: 0; right: 0;
  transition: background-color 400ms, padding 400ms;
  padding: 0 $space; 
  a { color: black;}
  .wrapper {
    height: $menu-h;
    display: flex; align-items: center; justify-content: space-between;
  }
  a.menu-item {
    flex-grow: 1;
    text-decoration: none;
    font-weight: 700;
    &.active, &.active-lang, &:hover {
      @include underline;
      color: $accent;
    }
  }
}

nav.desktop-arrows {
  z-index: 16;
  @include media-breakpoint-down(sm) { display: none; }
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  display: flex; align-items: center; justify-content: space-between;
  padding: $space;
  pointer-events: none;
  .arrow {
    @include single-arrow;
    transition: transform 150ms;
    &:hover { 
      transform: scale(1.1);
    }
    &.arrow-left::after { 
      content: url("../images/arrow-l.svg");
      line-height: 0;
    }
    &.arrow-right::after { 
      content: url("../images/arrow-r.svg");
      line-height: 0;
    }
  }
  &.hide-in-place .arrow {
    pointer-events: none;
  }
}

// nav#menu-mobile {}
nav.menu-mobile {
  &[data-level="1"] {
    z-index: 16;
    top: $space;
    // left: 25px; // debug
  }
  &[data-level="2"] {
    z-index: 15;
    top: #{$space + $menu-mobile-h + 10px};
  }
  @include media-breakpoint-up(md) { display: none; }
  position: fixed;
  right: $space; left: $space;
  height: $menu-mobile-h;
  background-color: white;
  border: 1px solid black;
  border-radius: $border-radius;
  transition: height 400ms, opacity 400ms;
  overflow: hidden;
  .items {
    transition: top 400ms;
    position: relative;
    top: 0;
    a.menu-item {
      pointer-events: none;
      text-decoration: none;
      display: flex; align-items: center; justify-content: center;
      font-weight: 700;
      color: black;
      height: $menu-mobile-h;
      &.active, &.active-lang, &:hover {
        @include underline;
        color: $accent;
      }
    }
  }
  .arrow {
    position: absolute;
    top: 0;
    height: $menu-mobile-h;
    width: #{$menu-mobile-h * 1.3};
    width: $menu-mobile-h;
    display: flex; align-items: center; justify-content: center;
    padding-top: 3px;
    &:active {
      opacity: 0.5;
    }
    &[data-bubble-id=''] {
      opacity: 0.3;
      pointer-events: none;
    }
    &.arrow-left { 
      left: 0;
      &::after { content: url("../images/arrow-l.svg"); }
    }
    &.arrow-right { 
      right: 0;
      &::after { content: url("../images/arrow-r.svg"); }
    }
  }
  &.open {
    // height: $menu-mobile-h * 8; // done in JS
    .items {
      top: 0 !important;
      a.menu-item {
        pointer-events: auto;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  padding: 10px $space;
  .content-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    .content {
      position: relative;
      left: 0;
      // transition: [left - transform] 2000ms ease-in-out; // done via js
      &, * {
        display: inline-block;
      }
    } 
  }
}

// ------------------------------------------------------------------------
// Sessions 21
// ------------------------------------------------------------------------

span.h21 {
  background-color: $accent; 
  @include media-breakpoint-up(md) {
    background-color: rgba($accent, 0.3);
  }  
}
span.h21.selected { background-color: $accent; }

// ------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------

.container-fluid {
  max-width: 940px; 
  max-width: 1100px; 
  margin-left: auto; margin-right: auto;
  padding-left: 30px; padding-right: 30px;
  @include media-breakpoint-down(xs) {
    padding-left: 15px; padding-right: 15px;
  }
}

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
