@charset "UTF-8";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$space: 15px;
$border-radius: 3px;
$menu-h: 50px;
$menu-mobile-h: 36px;
// $button-h: 47px;
// $button-h-s: 37px;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';
@import '_reset';
@import '_typography';
@import '_mixins';
@import '_switch';
@import 'hamburger-settings';
@import 'hamburgers/hamburgers';

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.color-white { color: white; }
.color-white-50 { color: rgba(white, 0.5); }
.bg-white { background-color: white; }
.no-u { text-decoration: none; }
.u-hover { text-decoration: none; &:hover { text-decoration: underline; } }
.pointer { cursor: pointer; }
.upper { text-transform: uppercase; }
.lower { text-transform: none; }

.space-1 { height: #{$space * 1}; }
.space-2 { height: #{$space * 2}; }
.space-3 { height: #{$space * 3}; }
.space-4 { height: #{$space * 4}; }
.space-6 { height: #{$space * 6}; }
.space-8 { height: #{$space * 8}; }

// -----------------------------------------------------------------------------
// General tags & classes
// -----------------------------------------------------------------------------

* {
  text-rendering: geometricPrecision; // OK on chrome
}

// html {
//   scroll-behavior: smooth;
// }

body {
  overflow-x: hidden;
  width: 100vw;
  // background-color: grey;
  color: black;
  @include font-sans-m;
  &.media-open { overflow: hidden; }
}

main {}

hr {
  border-top: 1px solid rgba(white, 0.3);
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10%;
  color: blue;
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

// .button {
//   display: inline-flex; align-items: center; justify-content: center;
//   height: $button-h;
//   border: 1px solid grey;
//   color: grey;
//   @include font-sans-m;
//   text-transform: uppercase;
//   text-decoration: none;
//   border-radius: $border-radius;
//   padding: 0 $space;
//   transition: background-color 400ms, color 400ms;
//   &:hover, &.active {
//     background-color: grey;
//     color: grey;
//   }
//   &.small {
//     height: $button-h-s;
//     width: auto; padding: 0 10px;
//     text-transform: none;
//   }
// }

.anchor {
  position: relative;
  top: -80px;
  height: 0px; width: 10px;
}

@keyframes blink {
  0%  { opacity: 0.5; }
  25% { opacity: 0.5; }
  50% { opacity: 0.3; }
  75% { opacity: 0.5; }
  100%{ opacity: 0.5; }
}

// -----------------------------------------------------------------------------
// STRUCTURE
// -----------------------------------------------------------------------------

.bbbg-wrap {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;
  .bbbg {
    position: absolute;
    top: 0; left: 12vw; height: 100%; margin-right: 12vw;
    transition: transform 1200ms;
  }
}

.line {
  z-index: 2000;
  position: fixed; left: 0px; top: 0; bottom: 0; width: 1px;
  background-color: blue;
  transition: transform 800ms;
  transform: translateX(10px);
  transform: translateX(50vw);
}

.screen {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  display: flex; align-items: center; justify-content: flex-start; flex-wrap: nowrap;
  .bubbles {
    // background-color: green;
    display: flex; align-items: center; justify-content: flex-start;
    transition: transform 1000ms;
    .bubble-wrapper {
      // border: 1px solid blue;
      display: flex; align-items: center; justify-content: center;
      &[data-level='1'] { width: 100vw; }
      &[data-level='2'] { }
      .bubble {

        scroll-behavior: smooth;
        pointer-events: auto;

        background-color: white;
        border: 1px solid black;
        border-radius: $border-radius;
        width: 720px;

        @include media-breakpoint-down(md) {
          width: 640px;
        }
        @include media-breakpoint-down(sm) {
          width: calc(100vw - #{$space * 2});
        }

        max-height: 80vh;
        overflow-y: scroll;
        position: relative;
        .submenu {
          position: sticky;
          top: 0; left: 0; width: 100%;
          background-color: white;
          padding: $space;
          margin-bottom: #{$space * 2};
        }
        .text {
          text-align: justify;
          padding-right: $space;
          padding-left: $space;
          &:first-child { padding-top: $space; }
          &:last-child { padding-bottom: $space; }
          p { padding-left: 60px; }
        }
        .bubble-title {
          margin-bottom: -10px;
          position: relative;
          z-index: 2;
        }
      }
      &.hide {
        opacity: 0; 
        pointer-events: none;
      }
    }
  }
  

  @include media-breakpoint-down(sm) {

    .bubbles {
      align-items: flex-start;
      
      .bubble-wrapper {
        align-items: flex-start;
        justify-content: center;
        max-height: 100vh;
        padding: 30vh 0;
        overflow: scroll;
        pointer-events: auto;

        .bubble {
          max-height: none;
          .text {
            p { padding-left: 30px; }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC
// -----------------------------------------------------------------------------

nav#menu-desktop {
  z-index: 6;
  @include media-breakpoint-down(sm) { display: none; }
  position: fixed;
  top: 0; left: 0; right: 0;
  transition: background-color 400ms, padding 400ms;
  padding: 0 $space;
  // background-color: grey; 
  a { color: black;}
  .wrapper {
    height: $menu-h;
    display: flex; align-items: center; justify-content: space-between;
  }
  a.menu-item {
    flex-grow: 1;
    text-decoration: none;
    &.active, &:hover {
      color: blue;
    }
  }

  // a#header-low-a {
  //   margin-right: 3px;
  //   &:hover {
  //     color: grey;
  //     text-decoration: none;
  //   }
  // }
}

nav#menu-mobile {
  z-index: 15;
  @include media-breakpoint-up(md) { display: none; }
  position: fixed;
  top: $space; right: $space; left: $space;
  height: $menu-mobile-h;
  background-color: white;
  border: 1px solid black;
  border-radius: $border-radius;
  @include transition(height 400ms);
  overflow: hidden;
  .items {
    transition: top 400ms;
    position: relative;
    top: 0;
    a.menu-item {
      pointer-events: none;
      text-decoration: none;
      display: flex; align-items: center; justify-content: center;
      color: black;
      height: $menu-mobile-h;
      &.active, &:hover {
        color: blue;
      }
    }
  }
  .arrow {
    position: absolute;
    top: 0;
    background-color: yellow;
    height: $menu-mobile-h; width: $menu-mobile-h;
    display: flex; align-items: center; justify-content: center;
    &[data-bubble-id=''] {
      opacity: 0.3;
      pointer-events: none;
    }
    &#arrow-left { left: 0; }
    &#arrow-right { right: 0; }
  }
  &.open {
    // height: $menu-mobile-h * 8; // done in JS
    .items {
      top: 0 !important;
      a.menu-item {
        pointer-events: auto;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  padding: 10px $space;
  .content-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    .content {
      position: relative;
      left: 0;
      // transition: [left - transform] 2000ms ease-in-out; // done via js
      &, * {
        display: inline-block;
      }
    } 
  }
}

// ------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------

.container-fluid {
  max-width: 940px; 
  max-width: 1100px; 
  margin-left: auto; margin-right: auto;
  padding-left: 30px; padding-right: 30px;
  @include media-breakpoint-down(xs) {
    padding-left: 15px; padding-right: 15px;
  }
}

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
