*:not(i), *:not(i)::before, *:not(i)::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

::-moz-selection {
  background: #1a1aff;
  color: black; }

::selection {
  background: #1a1aff;
  color: black; }

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

/* =============================================================================
   Forms
   via https://gist.github.com/alucidbeing/3695908
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

.font-sans-xl {
  font-family: Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 1.05em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-sans-xl {
      font-size: 36px; } }
  @media (min-width: 768px) {
    .font-sans-xl {
      font-size: 46px; } }
  @media (min-width: 992px) {
    .font-sans-xl {
      font-size: 46px; } }
  @media (min-width: 1200px) {
    .font-sans-xl {
      font-size: 46px; } }

.font-sans-m {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-sans-m {
      font-size: 17px; } }
  @media (min-width: 768px) {
    .font-sans-m {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .font-sans-m {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .font-sans-m {
      font-size: 18px; } }

p {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 1em; }
  @media (min-width: 576px) {
    p {
      font-size: 17px; } }
  @media (min-width: 768px) {
    p {
      font-size: 18px; } }
  @media (min-width: 992px) {
    p {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    p {
      font-size: 18px; } }

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 1.05em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  text-align: left; }
  @media (min-width: 576px) {
    h1 {
      font-size: 36px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 46px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 46px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 46px; } }

h2 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    h2 {
      font-size: 17px; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    h3 {
      font-size: 17px; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 18px; } }

h4 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    h4 {
      font-size: 17px; } }
  @media (min-width: 768px) {
    h4 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    h4 {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 18px; } }

h5 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    h5 {
      font-size: 17px; } }
  @media (min-width: 768px) {
    h5 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    h5 {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    h5 {
      font-size: 18px; } }

h6 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    h6 {
      font-size: 17px; } }
  @media (min-width: 768px) {
    h6 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    h6 {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    h6 {
      font-size: 18px; } }

/* 
.block-sans-s,
.block-sans-s p {
  color: black;
  @include font-sans-s;
}

.block-sans-m,
.block-sans-m p {
  color: black;
  @include font-sans-m;
}

.block-sans-l,
.block-sans-l p {
  color: black;
  @include font-sans-l;
}


 */
/* USAGE 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/**
 * via https://www.w3schools.com/howto/howto_css_switch.asp
 * 
 * <label>
 *   <div class="switch small">
 *     <input type="checkbox" onchange="handleSwitchChange(this);">
 *     <span class="slider round"></span>
 *   </div>
 *   <span class="text">Do something</span>
 * </label>
 * 
 * function handleSwitchChange (el) {
 *   // use el.checked ...
 * }
 *
 */
label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start; }
  label .text {
    margin-left: 10px; }

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 34px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch input:checked + .slider {
    background-color: orange; }
  .switch input:checked + .slider::before {
    transform: translateX(21px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: .2s; }
    .switch .slider::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .2s; }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round::before {
        border-radius: 50%; }
  .switch.small {
    width: 34px;
    height: 20px; }
    .switch.small input:checked + .slider::before {
      transform: translateX(14px); }
    .switch.small .slider::before {
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px; }
    .switch.small .slider.round {
      border-radius: 20px; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }
  .hamburger.is-active:hover {
    opacity: 1; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white; }

.hamburger-box {
  width: 23px;
  height: 16px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 23px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -7px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 1px; }
  .hamburger--slider .hamburger-inner::before {
    top: 7px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 14px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-3.2857142857px, -5px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(-90deg); }

.color-white {
  color: white; }

.color-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.bg-white {
  background-color: white; }

.no-u {
  text-decoration: none; }

.u-hover {
  text-decoration: none; }
  .u-hover:hover {
    text-decoration: underline; }

.pointer {
  cursor: pointer; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: none; }

.space-1 {
  height: 15px; }

.space-2 {
  height: 30px; }

.space-3 {
  height: 45px; }

.space-4 {
  height: 60px; }

.space-6 {
  height: 90px; }

.space-8 {
  height: 120px; }

* {
  text-rendering: geometricPrecision; }

body {
  overflow-x: hidden;
  width: 100vw;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    body {
      font-size: 17px; } }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }
  @media (min-width: 992px) {
    body {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 18px; } }
  body.media-open {
    overflow: hidden; }

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

a {
  color: blue;
  text-decoration: none; }

.anchor {
  position: relative;
  top: -80px;
  height: 0px;
  width: 10px; }

.hide-in-place {
  opacity: 0;
  pointer-events: none; }

@keyframes blink {
  0% {
    opacity: 0.5; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.3; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0.5; } }
.bbbg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }
  .bbbg-wrap .bbbg {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    transition: transform 1500ms cubic-bezier(0.69, 0.005, 0.305, 1);
    transition: transform 1800ms;
    image-rendering: pixelated; }

.ascii {
  font-family: "Courier New", monospace;
  height: auto !important;
  background-color: yellow; }

.line {
  z-index: 2000;
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: blue;
  transition: transform 1500ms;
  transform: translateX(10px);
  transform: translateX(50vw);
  transform: translateX(100vw); }

.screen {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap; }
  .screen .bubbles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 2500ms; }
    .screen .bubbles .bubble-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      .screen .bubbles .bubble-wrapper[data-level='1'] {
        width: 100vw; }
      @media (max-width: 767.98px) {
        .screen .bubbles .bubble-wrapper[data-level='2'] {
          width: 100vw; } }
      @media (min-width: 768px) {
        .screen .bubbles .bubble-wrapper[data-level='2'] {
          padding: 0 40px; } }
      .screen .bubbles .bubble-wrapper .bubble {
        scroll-behavior: smooth;
        pointer-events: auto;
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        width: 720px;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative; }
        @media (max-width: 991.98px) {
          .screen .bubbles .bubble-wrapper .bubble {
            width: 640px; } }
        @media (max-width: 767.98px) {
          .screen .bubbles .bubble-wrapper .bubble {
            width: calc(100vw - 30px); } }
        .screen .bubbles .bubble-wrapper .bubble .submenu {
          position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          background-color: white;
          padding: 15px;
          margin-bottom: 30px; }
        .screen .bubbles .bubble-wrapper .bubble .text {
          text-align: justify;
          padding-right: 15px;
          padding-left: 15px; }
          .screen .bubbles .bubble-wrapper .bubble .text:first-child {
            padding-top: 15px; }
          .screen .bubbles .bubble-wrapper .bubble .text:last-child {
            padding-bottom: 15px; }
          .screen .bubbles .bubble-wrapper .bubble .text p {
            padding-left: 60px; }
        .screen .bubbles .bubble-wrapper .bubble .bubble-title {
          margin-bottom: -10px;
          position: relative;
          z-index: 2; }
  @media (max-width: 767.98px) {
    .screen .bubbles {
      align-items: flex-start; }
      .screen .bubbles .bubble-wrapper {
        align-items: flex-start;
        justify-content: center;
        max-height: 100vh;
        padding: 30vh 0;
        overflow: scroll;
        pointer-events: auto; }
        .screen .bubbles .bubble-wrapper .bubble {
          max-height: none; }
          .screen .bubbles .bubble-wrapper .bubble .text p {
            padding-left: 30px; } }

nav#menu-desktop {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 400ms, padding 400ms;
  padding: 0 15px; }
  @media (max-width: 767.98px) {
    nav#menu-desktop {
      display: none; } }
  nav#menu-desktop a {
    color: black; }
  nav#menu-desktop .wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav#menu-desktop a.menu-item {
    flex-grow: 1;
    text-decoration: none; }
    nav#menu-desktop a.menu-item.active, nav#menu-desktop a.menu-item:hover {
      color: blue; }

nav.desktop-arrows {
  z-index: 16;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  pointer-events: none; }
  @media (max-width: 767.98px) {
    nav.desktop-arrows {
      display: none; } }
  nav.desktop-arrows .arrow {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: auto; }
    nav.desktop-arrows .arrow.arrow-left::after {
      content: url("../images/arrow-l.svg");
      line-height: 0; }
    nav.desktop-arrows .arrow.arrow-right::after {
      content: url("../images/arrow-r.svg");
      line-height: 0; }

nav.menu-mobile {
  position: fixed;
  right: 15px;
  left: 15px;
  height: 42px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-transition: height 400ms;
  -moz-transition: height 400ms;
  -ms-transition: height 400ms;
  -o-transition: height 400ms;
  transition: height 400ms;
  overflow: hidden; }
  nav.menu-mobile[data-level="1"] {
    z-index: 16;
    top: 15px;
    left: 25px; }
  nav.menu-mobile[data-level="2"] {
    z-index: 15;
    top: 67px; }
  @media (min-width: 768px) {
    nav.menu-mobile {
      display: none; } }
  nav.menu-mobile .items {
    transition: top 400ms;
    position: relative;
    top: 0; }
    nav.menu-mobile .items a.menu-item {
      pointer-events: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      height: 42px; }
      nav.menu-mobile .items a.menu-item.active, nav.menu-mobile .items a.menu-item:hover {
        color: blue; }
  nav.menu-mobile .arrow {
    position: absolute;
    top: 0;
    height: 42px;
    width: 54.6px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px; }
    nav.menu-mobile .arrow:active {
      opacity: 0.5; }
    nav.menu-mobile .arrow[data-bubble-id=''] {
      opacity: 0.3;
      pointer-events: none; }
    nav.menu-mobile .arrow.arrow-left {
      left: 0; }
      nav.menu-mobile .arrow.arrow-left::after {
        content: url("../images/arrow-l.svg"); }
    nav.menu-mobile .arrow.arrow-right {
      right: 0; }
      nav.menu-mobile .arrow.arrow-right::after {
        content: url("../images/arrow-r.svg"); }
  nav.menu-mobile.open .items {
    top: 0 !important; }
    nav.menu-mobile.open .items a.menu-item {
      pointer-events: auto; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px; }
  .footer .content-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block; }
    .footer .content-wrapper .content {
      position: relative;
      left: 0; }
      .footer .content-wrapper .content, .footer .content-wrapper .content * {
        display: inline-block; }

.container-fluid {
  max-width: 940px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 575.98px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; } }

/*# sourceMappingURL=index.css.map */
